@import "tailwindcss";
@plugin "daisyui" {
	themes: false;
}

@plugin "daisyui/theme" {
	name: "vscode";
	default: true;
	color-scheme: dark;
	--color-base-100: transparent;
	--color-base-200: transparent;
	--color-base-300: transparent;
	--color-base-content: var(--vscode-foreground);
	--color-primary: var(--vscode-focusBorder);
	--color-primary-content: var(--vscode-foreground);
	--color-secondary: var(--vscode-panel-border);
	--color-secondary-content: var(--vscode-foreground);
	--color-accent: var(--vscode-focusBorder);
	--color-accent-content: var(--vscode-foreground);
	--color-neutral: var(--vscode-panel-border);
	--color-neutral-content: var(--vscode-foreground);
	--color-info: var(--vscode-focusBorder);
	--color-info-content: var(--vscode-foreground);
	--color-success: var(--vscode-terminal-ansiGreen);
	--color-success-content: var(--vscode-foreground);
	--color-warning: var(--vscode-terminal-ansiYellow);
	--color-warning-content: var(--vscode-foreground);
	--color-error: var(--vscode-errorForeground);
	--color-error-content: var(--vscode-foreground);
}
